
@media (max-width: 480px) {

    /* Estilos para smartphones */
 
    .conteudo1 > img{
        width: 200px;
        height: 250px;
    }
    .conteudo1 > p{
        font-size: 11px;
        margin-right: 1%;
    }
    #titulo1{
        
    }
    #titulo1 > h3{
        font-size: 15px;
        margin-left: 180%;
    }
    .conteudo2 > img{
        width: 200px;
        height: 250px;
        margin-top: -10%;
        margin-left: 5%;
    }
    .conteudo3 > img{
        width: 200px;
        height: 250px;
        margin-top: -10%;
        margin-left: 5%;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos para tablets */


}

@media (min-width: 769px) {
    /* Estilos para desktops */
}