

.background-contato{
    min-height: calc(120vh - 70px);
    background-image: url('../img/pexels-james-wheeler-1542495.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card-login {
    background-color: #ff510000;
    backdrop-filter: blur(5px);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  input {
    padding: 5px;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  .left-login h1{
    position: relative;
    top: 300px;
    left: 700px;
    font-size: 35px;
    
    
  }

  .left-login br{
    position: absolute;
    top: 250px;
    left: 300px; 
  }
  @media (max-width: 480px) {
    .main-login{
      margin-top: 250%;
    }
    .card-login{
      height: 100vh;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 949px){
    .main-login{
      margin-top: 150%;
    }
    .card-login{
      height: 100vh;
    }
  }
  
  
