@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(./cabecalho.css);
@import url(./rodape.css);
@import url(./index.css);
@import url(./agricultura.css);
@import url(./inteligencia.css);
@import url(./cultivo.css);
@import url(./contato.css);
@import url(./breakpoint-index.css);
@import url(./breakpoint-principal.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    height: 85vh;
}

::-webkit-scrollbar {
    width: 8px; 
    background-color: #222222; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ece9e9; 
  }
  ::-webkit-scrollbar-track {
    background-color: #332e2e; 
  }
  .introducao{
    text-align: right;
}

.conteudo1{
    width: 100%;
    display: flex;
    padding: 1%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.conteudo1 > img{
    width: 350px;
    margin-left: 5%;
    margin-top: -5%;
}
.conteudo1 > p{
    width: 50%;
    margin-left: 12%;
    text-align: center;
    margin-top: 3%;
}
#titulo1{
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
#titulo1 > h3{
    margin-left: 52%;
    padding: 2%;
}

.conteudo2{
    width: 100%;
    display: flex;
    padding: 1%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.conteudo2 > img{
    width: 350px;
    margin-top: -10%;
    margin-left: 5%;
}
.conteudo2 > p{
    width: 50%;
    margin-left: 50%;
    margin-left: 8%;
    text-align: center;
    margin-top: 1%;
}
#titulo2{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
#titulo2 > h3{
    margin-left: 25%;
    padding: 2%;
}
.conteudo3{
    width: 100%;
    display: flex;
    padding: 1%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
.conteudo3 > img{
    width: 350px;
    margin-left: 5%;
    margin-top: -5%;
}
.conteudo3 > p{
    width: 50%;
    margin-left: 12%;
    text-align: center;
    margin-top: 3%;
}
#titulo3{
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
#titulo3 > h3{
    margin-left: 52%;
    padding: 2%;
}




 


