@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(./cabecalho.css);
@import url(./rodape.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main{

    min-height: calc(110vh - 60px);
    background-image: url('../img/img-conteudo.jpg');
    background-size: cover;
    background-position: center;

}



    min-height: calc(100vh - 60px);
}

